<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.ContinuousProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>instapaper</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.InstapaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>instapaper</servlet-name>
        <url-pattern>/instapaper</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readability</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.ReadabilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readability</servlet-name>
        <url-pattern>/readability</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>readabilityrss</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.ReadabilityRssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readabilityrss</servlet-name>
        <url-pattern>/readabilityrss</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rss</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.RssDescriptionExtendingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rss</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>

    <!--<servlet>
        <servlet-name>freake</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.FreakeRssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>freake</servlet-name>
        <url-pattern>/freake</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>championat</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.ChampionatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>championat</servlet-name>
        <url-pattern>/championat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lenta</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.LentaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lenta</servlet-name>
        <url-pattern>/lenta</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>twitter</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.TwitterHomeTimelineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>twitter</servlet-name>
        <url-pattern>/twitter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reading_list</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.TwitterReadingListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reading_list</servlet-name>
        <url-pattern>/reading_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>instagram</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.InstagramServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>instagram</servlet-name>
        <url-pattern>/instagram</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vk</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.VkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vk</servlet-name>
        <url-pattern>/vk</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logs</servlet-name>
        <servlet-class>com.rhcloud.igorbotian.rsskit.servlet.LogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logs</servlet-name>
        <url-pattern>/logs</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
</web-app>
